<html>
    <head>
        <title>Question Addition</title>
    </head>
    <body>
        <form class="/addQuestion">
            <label for="cars">Question Type:</label>
            <select id="QSel" name="Qtype">
            <option>Select Question Type</option>  
              <option value="mcq">MCQ</option>
              <option value="tf">True/ False</option>
            </select>
            <input type="text" placeholder="Question" id="Que" style="display: none;" class="mcq">
            <input type="text" placeholder="Option 1" id="op1" style="display: none;" class="mcq tf">
            <input type="text" placeholder="Option 2" id="op2" style="display: none;" class="mcq tf">
            <input type="text" placeholder="Option 3" id="op3" style="display: none;" class="mcq">
            <input type="text" placeholder="Option 4" id="op4" style="display: none;" class="mcq">
            <input type="text" placeholder="Answer" id="ansB"  style="display: none;" class="fillIn">
            <select id='ansA' style="display: none;" class="mcq">
            <option>Select the answer</option>
            <option value='1'>Option 1</option>
            <option value='2'>Option 2</option>
            <option value='3'>Option 3</option>
            <option value='4'>Option 4</option>    
            </select>
            <label for='TrueRadio' class='tf' style="display: none;">True</label>
            <input type="radio" value="True" class="tf" id='TrueRadio' name="tf" style="display: none;">
            <label for='TrueRadio' style="display: none;" class='tf'>False</label>
            <input type="radio" value="False" class="tf" id='FalseRadio' name="tf" style="display: none;">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
           <script>
            $(document).ready(function(){
                $("#QSel").on('change', function(){
                    if(this.value ==='mcq'){
                        $(".tf").hide();
                        $(".mcq").show();
                    }
                    else
                    if(this.value==='tf')
                    {
                        $(".mcq").hide();
                        $(".tf").show();
                        
                    }
                    else{
                        $(".mcq").hide();
                        $(".tf").hide(); 
                    }
                });
            });
            </script>
        </form>
    </body>
</html>
