<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Quiz Application</title>
<!-- <link rel="stylesheet" href="/static/style.css"> -->
<!-- <link ... href="{{ url_for('static', filename='static/font-awesome.min.css') }}" /> -->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,600,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
</head>
<body>
    <section class="header">
        
        <nav>
            <a href="index.html"><img src="/static/logo.gif" style="border-radius: 70px ;"></a>
           
            <div class="nav-links" id="navLinks">  
                <i class="fa fa-close" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="{{url_for('adminPage')}}">Admin</a></li>
                    <li><a href="{{url_for('loginPage')}}">Login</a></li>
                    <li><a href="{{url_for('registerPage')}}">Register</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        
        
    </section>
  
 
<!-------- footer ---------->

<section class="footer">
    
        <div class="icons" >
            
            <h4>About Us</h4>
        <p>This is our mini project. <br> Quiz Application</p>
            <a href="https://github.com/nsniteshsonal37/quizapp"><i class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/in/prashantkumardey/"><i class="fa fa-linkedin"></i></a>
            
        </div>
        <a href="https://github.com/nsniteshsonal37/quizapp" class="footer-link"><p>made with <i class="fa fa-users"></i>Group 4</p></a>
</section>    
  
  
<!----JavaScript for toggle menu---->
<script>
    var navLinks = document.getElementById("navLinks");

    function showMenu() {
        navLinks.style.right = "0";
    }

    function hideMenu() {
        navLinks.style.right = "-200px";
    }
</script> 
    
</body>
</html>







