.body{
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("https://images.unsplash.com/photo-1488998427799-e3362cec87c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c3R1ZHklMjBhZXN0aGV0aWN8ZW58MHx8MHx8&w=1000&q=80");
   
    background-repeat: no-repeat;
    background-size: cover;
    
    
  }
.button{
    font-size: 15px;
    background-color: bisque;
    border-radius: 20px;
    font-weight: bold;
}
.mcq{
    background-color:  #ffccff;
    font-size: 17px;
    border-radius: 15px;
}
.button:hover{
    background-color: #8e44ad;
}
#some{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    
  }
#QSel{
    font-weight: bold;
    background-color: bisque;
    width: 300px;
    height: 40px;

}
#sub{
	font-weight: bold;
    background-color: bisque;
    width: 300px;
    height: 40px;
}
.foo{
	font-size: medium;
	background-color: bisque;
	border-radius: 10px;
}
.foo:hover{
	background-color:  #ffcce6;
}