<html>

<head>
    <title>Question Addition</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='add_style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>

<body class="body">
    <form action="/admin/addSuccess" method="POST" id="some">
        <label for="subject" id="subject">Subject:</label>
        <select id="sub" name="sub">
            <option id="sub1">Select Subject</option>
            <option value="OS">OS</option>
            <option value="DSA">DSA</option>
            <option value="CN">CN</option>
            <option value="DLD">DLD</option>
        </select>
        <label for="QSel" id="some">Question Type:</label>
        <select id="QSel" name="Qtype">
            <option id="les">Select Question Type</option>
            <option value="mcq">MCQ</option>
            <option value="tf">True/ False</option>
        </select>
        <input type="text" placeholder="Question" id="Que" style="display: none;" class="mcq tf" name='Que'>
        <input type="text" placeholder="Option 1" id="op1" style="display: none;" class="mcq" name='opt1'>
        <input type="text" placeholder="Option 2" id="op2" style="display: none;" class="mcq" name='opt2'>
        <input type="text" placeholder="Option 3" id="op3" style="display: none;" class="mcq" name='opt3'>
        <input type="text" placeholder="Option 4" id="op4" style="display: none;" class="mcq" name='opt4'>
        <input type="number" placeholder="Marks" id="marks" style="display: none;" class="foo" name='marks'>
        
        <select id='ansA' style="display: none;" class="mcq" name='ansA'>
            <option>Select the answer</option>
            <option value='1'>Option 1</option>
            <option value='2'>Option 2</option>
            <option value='3'>Option 3</option>
            <option value='4'>Option 4</option>
        </select>
        <label for='TrueRadio' class='tf' style="display: none;">True</label>
        <input type="radio" value="True" class="tf" id='TrueRadio' name="tf" style="display: none;">
        <label for='TrueRadio' style="display: none;" class='tf'>False</label>
        <input type="radio" value="False" class="tf" id='FalseRadio' name="tf" style="display: none;">
        <input type='submit' class='foo'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#QSel").on('change', function () {
                    if (this.value === 'mcq') {
                        $(".tf").hide();
                        $(".mcq").show();
                        $(".foo").show();
                    }
                    else
                        if (this.value === 'tf') {
                            $(".mcq").hide();
                            $(".tf").show();
                            $(".foo").show();
                        }
                        else {
                            $(".mcq").hide();
                            $(".tf").hide();
                            $(".foo").h();
                        }
                });
            });
           
        </script>
    </form>
</body>

</html>